<div>

    <h2 translate="dsisbyApp.ijin.home.title">Ijin</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveIjinModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="dsisbyApp.ijin.home.createLabel">Create a new Ijin</span>
    </button>
    <div class="modal fade" id="saveIjinModal" tabindex="-1" role="dialog" aria-labelledby="myIjinLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myIjinLabel" translate="dsisbyApp.ijin.home.createOrEditLabel">Create or edit a Ijin</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="ijin.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="dsisbyApp.ijin.tanggalIjin">TanggalIjin</label>
                            <input ng-bootstrap-fix type="date" class="form-control"
                                   ng-model="ijin.tanggalIjin">
                        </div>
                        <div class="form-group">
                            <label translate="dsisbyApp.ijin.dari">Dari</label>
                            <input ng-bootstrap-fix type="date" class="form-control"
                                   ng-model="ijin.dari">
                        </div>
                        <div class="form-group">
                            <label translate="dsisbyApp.ijin.sampai">Sampai</label>
                            <input ng-bootstrap-fix type="date" class="form-control"
                                   ng-model="ijin.sampai">
                        </div>
                        <div class="form-group">
                            <label translate="dsisbyApp.ijin.alasan">Alasan</label>
                            <input  type="text" class="form-control"
                                   ng-model="ijin.alasan">
                        </div>

                        <div class="form-group">
                            <label translate="dsisbyApp.ijin.karyawan">karyawan</label>
                            <select class="form-control" ng-model="ijin.karyawan.id" ng-options="karyawan.id as karyawan.namaLengkap for karyawan in karyawans">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteIjinConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(ijin.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="dsisbyApp.ijin.delete.question" translate-values="{id: '{{ijin.id}}'}">Are you sure you want to delete Ijin {{ijin.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table  class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="dsisbyApp.ijin.tanggalIjin">TanggalIjin</th>
                    <th translate="dsisbyApp.ijin.dari">Dari</th>
                    <th translate="dsisbyApp.ijin.sampai">Sampai</th>
                    <th translate="dsisbyApp.ijin.alasan">Alasan</th>
                    <th translate="dsisbyApp.ijin.karyawan">karyawan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ijin in ijins">
                    <td><a ui-sref="ijinDetail({id:ijin.id})">{{ijin.id}}</a></td>
                    <td>{{ijin.tanggalIjin}}</td>
                    <td>{{ijin.dari}}</td>
                    <td>{{ijin.sampai}}</td>
                    <td>{{ijin.alasan}}</td>
                    <td>{{ijin.karyawan.namaLengkap}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="ijinDetail({id:ijin.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(ijin.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(ijin.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
